<mtapp:setting
  id="user_token"
  label="<__trans phrase="User Token">"
  hint="You can see your User Token on <a href="https://wovn.io" target="_blank">WOVN.io</a>."
  show_hint="1">
<input type="text" class="text short" name="user_token" value="<mt:var name="user_token">" />
</mtapp:setting>

<mtapp:setting
  id="url_pattern"
  label="<__trans phrase="URL Pattern">">
<select name="url_pattern">
  <option value="path">Path</option>
</select>
</mtapp:setting>

<mtapp:setting
  id="defalt_lang"
  label="<__trans phrase="Default Language">">
<select name="default_lang">
  <mt:loop name="supported_langs">
  <option value="<mt:var name="code">" <mt:if name="code" eq="$default_lang">selected="selected"</mt:if>><mt:var name="label"></option>
  </mt:loop>
</select>
</mtapp:setting>

<mtapp:setting
  id="supported_langs"
  label="<__trans phrase="Supported Languages">">
<ul class="fixed-width multiple-selection">
  <mt:loop name="supported_langs">
  <li>
    <input
      type="checkbox"
      id="supported-lang-<mt:var name="code">"
      name="supported_langs"
      value="<mt:var name="code">"
      <mt:if name="enabled">checked="checked"</mt:if> />
    <label for="supported-lang-<mt:var name="code">"><mt:var name="label"></label>
  </li>
  </mt:loop>
</ul>
</mtapp:setting>

